#ri { /* основной див с контентом
 используется только на стр букинфо*/

    width: 90%;
    position: relative; /* Фиксированное положение */
    left: 0;  /* Левый нижний угол */
    /*padding: 50px 50px; !* Поля вокруг текста *!*/
    background: whitesmoke; /* Цвет фона */
    color: #fff; /* Цвет текста */

    height: 77%;
    opacity: 0.8;
    color:#567ec4;
    font-size: 15px;
    /*font-style: italic;*/
    font-weight: bold;
    /*display: flex;*/
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

#div_inside{
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
}

#login { /* основной див с контентом
 используется только на стр букинфо*/

    width: 30%;
    position: relative; /* Фиксированное положение */
    left: 0;  /* Левый нижний угол */
    /*padding: 50px 50px; !* Поля вокруг текста *!*/
    background: whitesmoke; /* Цвет фона */
    color: #fff; /* Цвет текста */

    height:30%;
    opacity: 0.8;
    color:#567ec4;
    font-size: 15px;
    /*font-style: italic;*/
    font-weight: bold;
    /*display: flex;*/
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 35%;
    margin-left: 35%;
}
input::-webkit-input-placeholder {
    color: #B6C0A5;
    font-style: italic;
    background: #E0EFCA;
}
input:-moz-placeholder {
    color: #B6C0A5;
    font-style: italic;
    background: #E0EFCA;
}
input:-ms-input-placeholder {
    color: #B6C0A5;
    font-style: italic;
    background: #E0EFCA;
}
#right {
    float: right;
    padding-right: 20px;
}

#test {
    background: url(https://images.pexels.com/photos/3728084/pexels-photo-3728084.jpeg?auto=compress&cs=tinysrgb&w=1600) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    color: whitesmoke; /* Цвет текста */
    /*width: 100%;*/
}
/* Links border-bottom: 1px dotted #333333; */

a { text-decoration: none; font-weight: bold;

    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;

    /*Чтобы ничего не слиплось*/
    display:inline-block;
    padding:10px;
    float: right;
}
#p { text-decoration: none; font-weight: bold;

    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;

    /*Чтобы ничего не слиплось*/
    display:inline-block;
    padding:8px;
    float: right;
}
#input { text-decoration: none; font-weight: bold;

    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    border-color: #81a2c3;

    /*Чтобы ничего не слиплось*/
    /*display:inline-block;*/
    padding:5px;
    float: right;
    border-bottom: #567ec4;
    /*display: block;*/

}
#input:visited{ color: #567ec4; border-bottom-color: #567ec4;}
h1 {
    color: #81a2c3;
}

a:link { color: #567ec4; border-bottom-color: #567ec4;}

a:visited { color: #81a2c3; border-bottom-color: #81a2c3; }

a:hover, a:active { color: #cc3333; border-bottom-style: solid; border-bottom-color: #cc3333; }
/* Lists */

ul, ol, dl
{
    margin: 15px 25px;
    line-height: 2.0em;
}

ol { margin-left: 30px; }

ul { list-style-type: square; }
/* Navigation */

#navigation ul { margin: 0; padding: 0; list-style-type: none; float: left; }

#navigation li { float: left; }

#navigation a
{
    float: right;
    display: block;
    color: #567ec4;
    padding: 5px 5px;
    border-bottom-width: 0;
}

#navigation a:hover, #navigation a:active
{
    color: #000000;
}

#navigation li.active a
{
    color: #000000;
}
#div {
    width: auto;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*margin-bottom: 100px;*/
    /*margin: 80px;*/
    opacity: 0.8;
    background: ghostwhite; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */


}
#footer {

    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: whitesmoke; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    height: 40px;
    opacity: 0.8;
    color:#567ec4;
    font-size: 15px;
    /*font-style: italic;*/
    font-weight: bold;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;

}
#header{
    position: absolute; /* Фиксированное положение */
    left: 0; bottom: 110px; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: whitesmoke; /* Цвет фона */
    color: #fff; /* Цвет текста */
    /*width: 50%; !* Ширина слоя *!*/
    height: 40px;
    opacity: 0.8;
    color:#567ec4;
    font-size: 15px;
    /*font-style: italic;*/
    font-weight: bold;
    display:flex;
    justify-content:center;
    align-items:center;
    /*flex-wrap:wrap;*/
    top:82%;
    /*left:45%;*/
    right: 45%;
}
.my_boks {
    position: fixed;
    /*width: 60%;*/
    display: block;
    margin: 0 auto;
    /*padding: 0;*/
    text-align: center;
    /*Чтобы ничего не слиплось*/
    /*margin-right: 60px;*/
    /*margin-left: 60px;*/

    top:12%;
    left:20%;
    right: 20%;

    display:inline-block;
    padding:10px;
}
.my_boks1, .my_boks2, .my_boks3 {
    margin: 10px;
    padding: 50px 60px;
    width: calc(22% - 40px);
    display: inline-block;
    opacity: 0.8;
}
.my_boks1 { background-color: whitesmoke; border: 3px; }
.my_boks2 { background-color: whitesmoke; border: 3px; }
.my_boks3 { background-color: whitesmoke; border: 3px; }


/*img{*/
/*    position: -ms-device-fixed;*/
/*    margin-top: -20px;*/
/*    width: 70px;*/
/*    height: 90px;*/
/*    !*margin-left: 0px;*!*/
/*    margin-right: 60px;*/
/*    margin-bottom: 10px;*/

/*}*/